body, #app
  max-width 1200px
  margin auto
  padding 0
  height 100%
  font-family 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  background-color $light
  font-size 1.2rem

#app
  margin 8px

button
  background-color $accent
  border none
  color white
  padding 12px 24px
  font-size 1.4rem
  box-shadow 1px 1px 3px 0px darken($dark, 30%)
  width 100%

#nav, div#sw-update-info
  display flex
  flex-flow row nowrap
  & > a
    padding 18px 12px
    color white
    text-decoration none
    background-color $dark
    box-shadow 1px 1px 3px 0px darken($dark, 30%)
    &.router-link-active:not(:first-child), &.router-link-exact-active
      background-color $accent

#recorder
  background-color lighten($accent, 30%)
  padding-top 1px
  #control
    display flex
    button
      margin 4px
      margin-bottom 8px
      flex 1 1 40%
    button:disabled
      background-color lighten(gray, 20%)
    #start.active
      background-color darken($accent, 20%)
    #stop.active
      background-color darken(red, 20%)
  #mouse-canvas, #keyboard-canvas
    margin 4px
    background-color white

#scene-container
  display flex
  flex-flow column nowrap
  & > div
    padding 24px 12px
    background-color $accent
    color white
    cursor pointer
    box-shadow 1px 1px 3px 0px darken($accent, 70%)
    &:hover
      background-color lighten($accent, 30%)